.header{
    background-color: #6778C5;
    width: auto;
    height: 17%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.headerItem{
    width: 60px; 
    height: 60px; 
    border-radius: 50%;
    object-fit: cover; 
    border: 2px solid #FFFFFF;
}
 h1{
    font-family: "League Spartan", sans-serif;
    color: #FFFFFF;
    margin-left: 10px;
 }
 
 #MsgChat{
    font-family: "League Spartan", sans-serif;
    color: #6778C5;
 }

 .message-container {
    display: flex;
    flex-direction: column;
  }
  
  #timestamp {
    margin-top: 0;
    font-family: "League Spartan", sans-serif;
    color: grey;
    font-size: 0.8em; 
  }

 #message{
    display: inline-block;
    margin-left: 5px;
 }
.inputMessage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    
}
#send{
    width: 60px;
    height: 60px;
    padding-right: 10px;
}

 #CustomToolbar{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
 }
 
