
<ion-content [fullscreen]="true">
  <ion-header>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">
   <ion-toolbar class="backButton">
    <ion-buttons slot="start"  >
      <ion-back-button defaultHref="/inicio" class="CustomBackBut" text=""></ion-back-button>
    </ion-buttons>  
  </ion-toolbar>
  </ion-header>

  <div class="header">
      <ion-img src="../assets/icon/i.svg" alt="CHATSUicon" class="icon"></ion-img>
  </div>

  <ion-text>
    <h1>CREACIÓN DE CUENTA</h1>
  </ion-text>
  
  <ion-text class="butCenter" color="danger" *ngIf="errorMessage">
    <div>{{ errorMessage }}</div>
  </ion-text>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" id="form">
    <div class="register">
      <h3 id="centerInputs">Usuario:</h3>
      <ion-input class='inputs' fill="outline" formControlName="username" type="text" ></ion-input>
      <h3 id="centerInputs">Email:</h3>
      <ion-input class='inputs' fill="outline" formControlName="email" type="email" ></ion-input>
      <h3 id="centerInputs">Contraseña:</h3>
      <ion-input class='inputs' fill="outline" formControlName="password" type="password" helperText="Tu contraseña debe ser mayor a 6 caracteres"></ion-input>
      <div class="butCenter">
        <ion-button class="butRegister"  expand="full" type="submit">Registrar</ion-button>
      </div>
    </div>
  </form>
    
</ion-content>
