
<ion-content [fullscreen]="true">
  <ion-header>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">
   <ion-toolbar class="backButton">
    <ion-buttons slot="start"  >
      <ion-back-button defaultHref="/inicio" class="CustomBackBut" text=""></ion-back-button>
    </ion-buttons>  
  </ion-toolbar>
  </ion-header>
      <div class="header">
          <ion-img src="../assets/icon/i.svg" alt="CHATSUicon" class="icon"></ion-img>
      </div>

      <ion-text>
        <h1>CREACIÓN DE CUENTA</h1>
      </ion-text>

      <div class="register">
        <ion-text>
          <h3>Usuario:</h3>
          <ion-input class="enters" type="text" fill="outline"></ion-input>

          <h3>Email:</h3>
            <ion-input class="enters" type="email" fill="outline"></ion-input>
         
          <h3>Contraseña:</h3>
          <ion-input class="enters" type="password" fill="outline"></ion-input>

          <h3>Confirmar Contraseña:</h3>
          <ion-input class="enters" type="password" fill="outline"></ion-input>
        </ion-text>
    </div>
    <div class="butC">
      <ion-button class="but" style="--background: #6778C5;" [routerLink]="['/cuenta-creada']">Registrar</ion-button>
    </div>
</ion-content>
