
<ion-content [fullscreen]="true">
  <ion-header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">

  </ion-header>
  <ion-content>
    <div class="header">
        <ion-img src="../assets/icon/i.svg" alt="CHATSUicon" class="icon"></ion-img>
    </div>
    
    <ion-text class="ion-align-self-center">
        <p id="welcome">¡Bienvenido al mejor lugar para chatear!</p>
    </ion-text>
    
    <ion-text>
      <h1>INICIO DE SESIÓN</h1>
    </ion-text>
      
    <!-- <div class="login">
        <ion-text>
          <h3>Email:</h3>
            <ion-input class="input" type="email" fill="outline"></ion-input>
          <h3>Contraseña:</h3>
            <ion-input class="input" type="password" fill="outline"></ion-input>
        </ion-text>
    </div>

    <div class="butLogin">
      <ion-button class="butL" [routerLink]="['/chat-room']">Ingresar</ion-button>
    </div> -->
    
    <ion-text class="butCenter" color="danger" *ngIf="errorMessage">
      <div>{{ errorMessage }}</div>
    </ion-text>

    
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="loginForm">
      <div class="login">
      <h3>Email:</h3>
      <ion-input class='inputs' fill="outline" formControlName="email" type="email"></ion-input>
      <h3>Contraseña:</h3>
      <ion-input class='inputs' fill="outline" formControlName="password" type="password"></ion-input>
      <div>
        <ion-button shape="round" expand="full" type="submit" id="butL">Iniciar Sesión</ion-button>
      </div>
    </div>
    </form>



    <div class="primeraV">
        <h3 id="textPv">¿Primera vez?</h3>
        <ion-button shape="round" id="registerBut" [routerLink]="['/registro']">Regístrate</ion-button>
    </div>

  </ion-content>
</ion-content>

