
<ion-content [fullscreen]="true">
  <ion-header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">

  </ion-header>
  <ion-content>
    <div class="a">
        <ion-img src="../assets/icon/i.svg" alt="CHATSUicon" class="i"></ion-img>
    </div>
    
    <ion-text>
      <h3 id="welcome">¡Bienvenido al mejor lugar para chatear!</h3>
    </ion-text>
    
    <ion-text>
      <h1>INICIO DE SESIÓN</h1>
    </ion-text>
      
    <div class="login">
        <ion-text>
          <h3>Email:</h3>
            <ion-input class="enters" type="email" fill="outline"></ion-input>
          <h3>Contraseña:</h3>
            <ion-input class="enters" type="password" fill="outline"></ion-input>
        </ion-text>
    </div>

    <div class="butC">
      <ion-button class="but" style="--background: #6778C5;">Ingresar</ion-button>
    </div>

    <div class="primeraV">
        <h3 id="Pv">¿Primera vez?</h3>
        <ion-button id="Bv" style="--background: #FFFFFF; border: 1px solid #6778C5; width: 198px;">Regístrate</ion-button>
    </div>
  </ion-content>
</ion-content>

