<ion-header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="header">
    <ion-img src="../assets/icon/logOut.svg" alt="LogOutIcon" class="headerItems" [routerLink]="['/inicio']" ></ion-img>
    <ion-img src="../assets/icon/contact.svg" alt="Contact" class="headerItems"></ion-img>
    <h1 class="headerItems">SALAS</h1>
  </div>

  <ion-list lines = "none" class="listClass">
    <ion-item *ngFor="let group of Groups" color="light">
      <ion-thumbnail slot="start" class="custom-thumbnail">
        <img [src]="group.icon" id="icons" />
      </ion-thumbnail>
      <ion-label>
        <ion-text color="dark">
        <h2 id="name">{{ group.name }}</h2>
      </ion-text>
        <p id="des">{{ group.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
