<ion-header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="header">
    <ion-img src="../assets/icon/logOut.svg" alt="LogOutIcon" class="items" [routerLink]="['/inicio']" ></ion-img>
    <ion-img src="../assets/icon/contact.svg" alt="Contact" class="items"></ion-img>
    <h1 class="items">SALAS</h1>
  </div>

  <ion-list lines="none">
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-icon style="width: 100%; height: 100%" src="../assets/icon/videogames.svg"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        <ion-text color="dark">
        <h3>Videojuegos</h3>
        </ion-text>
        <p>Entérate de lanzamientos de videjuegos, conoce gente geek, habla sobre tus juegos favoritos.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <ion-icon style="width: 100%; height: 100%" src="../assets/icon/anime.svg"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        <ion-text color="dark">
        <h3>Anime</h3>
      </ion-text>
        <p>Debate los mejores animes de la temporada, descubre animes que no habías visto con la comunidad.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <ion-icon style="width: 100%; height: 100%" src="../assets/icon/Counter.svg"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        <ion-text color="dark">
          <h3>Source Following</h3>
        </ion-text>
        <p>Una comunidad enteramente de fans de Valve, juega a títulos de la desarrolladora con nuevos amigos.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <ion-icon style="width: 100%; height: 100%" src="../assets/icon/music.svg"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        <ion-text color="dark">
          <h3>Música</h3>
        </ion-text>
        <p>Charla de la carrera de tus artistas favoritos, descubre nuevos géneros musicales, artistas y grupos.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <ion-icon style="width: 100%; height: 100%" src="../assets/icon/cine.svg"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        <ion-text color="dark">
          <h3>Cine</h3>
        </ion-text>
        <p>Habla sobre cine y directores de película, asiste de la nueva cartelera con los miembros de la comunidad.</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
