.header{
    background-color: #6778C5;
    width: auto;
    height: 14%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.items{
    margin-left: 10px;
}

h1{
    font-family: "League Spartan", sans-serif;
    color: #FFFFFF;
}
p{
    color: #6778C5;
}